<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/auth_page.css" type="text/css" media="all">
    <link rel="stylesheet" href="/style/normalize.css" type="text/css" media="all">
    <link href="/style/css.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">//<![CDATA[
       $(document).ready(function(){
            $('.form-control').on('focus blur', function (e) {
                $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
            }).trigger('blur');
        });//]]>
    </script>
</head>
<body style="height: 100%; overflow: hidden; width: 100% !important;">
<div class="page_content">
    <div id="fback"><div class="girisback"></div><div class="kayitback"></div></div>

    <div id="textbox">
        <div class="toplam">

            <div class="left">
                <div id="ic">
                    <h2>Регистрация</h2>
                    <p>Регистрация в тестовой системе</p>
                    <form id="girisyap" name="signup_form" method="post" enctype="multipart/form-data" onsubmit="return false;">

                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Имя пользователя</label>
                            <input type="text" name="signup_username" id="signup_username" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Имя</label>
                            <input type="text" name="field_1" id="field_1" value="" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <div class="form-group soninpt">
                            <label class="control-label" for="inputNormal">Фамилия</label>
                            <input type="text" name="field_2" id="field_2" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Email</label>
                            <input type="text" name="signup_email" id="signup_email" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Пароль</label>
                            <input type="password" name="signup_password" id="signup_password" value="" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <input type="submit" name="signup_submit" id="signup_submit" value="Регистрация" class="girisbtn">
                    </form>

                    <button id="moveright">Вход</button>
                </div>
            </div>

            <div class="right">
                <div id="ic">
                    <h2>Вход</h2>
                    <p>Вход в тестовую систему</p>
                    <form name="login-form" id="girisyap" method="post" action="/auth/logon">

                        <div class="form-group">
                            <label class="control-label" for="inputNormal">Имя пользователя</label>
                            <input type="text" name="login" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <div class="form-group soninpt">
                            <label class="control-label" for="inputNormal">Пароль</label>
                            <input type="password" name="password" class="bp-suggestions form-control" cols="50" rows="10">
                        </div>
                        <input type="submit" value="Вход" class="girisbtn" tabindex="100">
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="/js/kayitgiris.js"></script>
</div>
</body>
</html>