{% extends 'base.twig' %}

{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text">Обновления</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    У Вас имеется один или более непройденных тестов
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Перейти</a>
                </div>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__title mdl-card--expand mdl-color--blue-400">
                    <h2 class="mdl-card__title-text">Информация</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    <ul class="demo-list-item mdl-list">
                        <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content">
                            ФИО: {{ user.FIO }}
                      </span>
                        </li>
                        <li class="mdl-list__item">
					    <span class="mdl-list__item-primary-content">
					          Группа: {{ user.Class }}
						</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}